html, body {
  margin: 0;
    background: linear-gradient(#ffffff, #ffccff);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  
  h1 {   text-align: center; }
  p {   text-align: center; }
}
<style>
body {
  margin: 0;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
</style>
</head>
<body>

<div class="header">
  <h1>Header</h1>
</div>

</body>
canvas {
  display: block;
}
